/* COLORS */
/* MIXINS */
/* HELPERS */
/* GRID */
/* ELEMENTS */
.inverse {
  background: #000000;
  color: #fefefe;
}
.black {
  background: #000000;
  color: #fefefe;
}
.white {
  background: #fefefe;
  color: #000000;
}
.grey {
  color: #fefefe;
  background: #989f8f;
}
.red {
  color: #fefefe;
  background: #f15a4f;
}
.orange {
  color: #fefefe;
  background: #f99927;
}
.yellow {
  color: #000000 !important;
  color: #fefefe;
  background: #ffc60a;
}
.green {
  color: #fefefe;
  background: #6ac17c;
}
.blue {
  color: #fefefe;
  background: #0096d5;
}
.cyan {
  color: #fefefe;
  background: #00b6b4;
}
.purple {
  color: #fefefe;
  background: #956cae;
}
.pink {
  color: #fefefe;
  background: #e283ad;
}
.clearfix:after {
  clear: both;
  content: ' ';
  display: table;
}
.left-align {
  float: left;
}
.right-align {
  float: right;
}
.center-align {
  display: flex;
  justify-content: center;
}
.vertical-align {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.left-justify {
  text-align: left;
}
.right-justify {
  text-align: right;
}
.center-justify {
  text-align: center;
}
.left {
  float: left;
  text-align: left;
}
.right {
  float: right;
  text-align: right;
}
.center {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  text-align: center;
}
/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* actual grid */
.wrapper {
  display: flex;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.container {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
}
.wrapper .container {
  padding-bottom: 7.5rem;
  max-width: 80rem;
}
.navigation {
  background: rgba(0, 0, 0, 0);
  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}
@media only screen and (max-width: 1560px) {
  .navigation {
    background-color: #fefefe;
  }
}
.navigation .container {
  max-width: 100% !important;
  padding: 0 2.0rem;
}
.navigation .navigation-list {
  list-style: none;
  margin-bottom: 0;
}
.navigation .navigation-item {
  float: left;
  margin-bottom: 0;
  font-weight: normal;
  padding: 0rem .4rem;
  position: relative;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 0;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000000 50%);
  background-position: 0 0%;
  transition: all 0.3333s;
}
.navigation .navigation-item:hover {
  background-position: 0 100%;
  color: #fefefe;
}
.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  margin-bottom: .8rem;
}
.row:last-child {
  margin-bottom: 0;
}
.column,
.spacer {
  overflow-wrap: break-word;
  padding: 1rem;
  margin-bottom: 0;
  width: 100%;
  border-radius: 0;
}
@media all and (min-width: 600px) {
  .column.quarter,
  .spacer.quarter {
    flex: 0 0 25%;
  }
  .column.one-third,
  .spacer.one-third {
    flex: 0 0 33.33%;
  }
  .column.half,
  .spacer.half {
    width: 50%;
  }
  .column.two-thirds,
  .spacer.two-thirds {
    width: 66.66%;
  }
  .column.three-quarters,
  .spacer.three-quarters {
    width: 75%;
  }
}
.overlay .container {
  height: 5.2rem !important;
  padding-bottom: 0;
}
.overlay .column {
  max-width: 100%;
  bottom: 0;
  word-spacing: 28rem;
}
.overlay a {
  font-size: 2.8rem;
  color: #fefefe;
  font-weight: bold;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #fefefe 50%);
  background-position: 0 0%;
  transition: all 0.3333s;
}
.overlay a:hover {
  background-position: 0 100%;
  color: #000000;
}
.spacer {
  color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
}
.footer {
  display: block;
}
.footer .container {
  max-width: 80.0rem;
  font-size: 1.0rem;
}
html {
  box-sizing: border-box;
}
body {
  padding-top: 5.4rem;
  color: #000000;
  background: #fefefe;
  font-family: 'Roboto';
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
}
a {
  color: #000000;
  text-decoration: none;
  padding: 0 .1rem;
  border-radius: 0;
  font-style: italic;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%);
  background-position: -2% 0;
  transition: all 0.3333s;
}
a:hover {
  background-position: -100% 0;
  color: #0096d5;
}
b,
strong {
  font-weight: bold;
}
p {
  margin-top: 0;
}
li {
  margin-bottom: 1.0rem;
}
ul,
ol {
  padding-left: 0;
}
ol ol,
ol ul,
ul ol,
ul ul {
  font-size: 90%;
  margin: 1.5rem 0 1.5rem 3.0rem;
}
ol {
  list-style: decimal inside;
  list-style-type: upper-roman;
}
ul {
  list-style: circle inside;
}
hr {
  border: 0;
  border-top: 0.1rem solid #000000;
  margin: 3.0rem 0;
}
h1 {
  font-weight: 300;
  letter-spacing: -0.1rem;
  margin-bottom: 2.0rem;
  margin-top: 0;
  font-size: 4.6rem;
  line-height: 1.2;
}
h2 {
  font-weight: 300;
  letter-spacing: -0.1rem;
  margin-bottom: 2.0rem;
  margin-top: 0;
  font-size: 3.6rem;
  line-height: 1.25;
}
h3 {
  font-weight: 300;
  letter-spacing: -0.1rem;
  margin-bottom: 2.0rem;
  margin-top: 0;
  font-size: 2.8rem;
  line-height: 1.3;
}
h4 {
  font-weight: 300;
  letter-spacing: -0.1rem;
  margin-bottom: 2.0rem;
  margin-top: 0;
  font-size: 2.2rem;
  letter-spacing: -0.08rem;
  line-height: 1.35;
}
h5 {
  font-weight: 300;
  letter-spacing: -0.1rem;
  margin-bottom: 2.0rem;
  margin-top: 0;
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
  line-height: 1.5;
}
.button {
  display: inline;
  border: 0.2rem solid #f15a4f;
  border-radius: 0;
  color: #f15a4f;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #f15a4f 50%);
  background-position: 0 5%;
  transition: all 0.3333s;
}
.button:hover {
  background-position: 0 100%;
  color: #000000;
}
