@black: #000000;
@white: #fefefe;
@grey: #989f8f;
@red: #f15a4f;
@orange: #f99927;
@yellow: #ffc60a;
@green: #6ac17c;
@cyan: #00b6b4;
@blue: #0096d5;
@purple: #956cae;
@pink: #e283ad;

@clear: rgba(0,0,0,0);

// They're here if I ever need them, probably for :hover or some shit.
@pastel-red: #df6565;
@pastel-orange: #ed9e56;
@pastel-yellow: #ecce58;
@pastel-green: #c5d15c;
@pastel-cyan: #80cabf;
@pastel-blue: #8cb6e1;
@pastel-purple: #cfabdf;
@pastel-pink: #ff94bd;

.inverse {
    background: @foreground;
    color: @background;
}

.black {
    background: @black;
    color: @white;
}

.white {
    background: @white;
    color: @black;
}

.grey {
    .color(@grey);
}

.red {
    .color(@red);
}

.orange {
    .color(@orange);
}

.yellow {
    color: @black !important;
    .color(@yellow);
}

.green {
    .color(@green);
}

.blue {
    .color(@blue);
}

.cyan {
    .color(@cyan);
}

.purple {
    .color(@purple);
}

.pink {
    .color(@pink);
}