@black: #212121;
@white: #fafafa;
@grey: #989f8f;
@red: #f15a4f;
@orange: #F8A227;
@yellow: #FECC2F;
@green: #B2C224;
@cyan: #6bcfca;
@blue: #4fa8d8;
@purple: #ad7cd8;
@pink: #EE6579;

@clear: rgba(0,0,0,0);

.inverse {
    background: @foreground;
    color: @background;
}

.black {
    background: @black;
    color: @white;
}

.white {
    background: @white;
    color: @black;
}

.grey {
    .color(@grey);
}

.red {
    .color(@red);
}

.orange {
    .color(@orange);
}

.yellow {
    color: @black !important;
    .color(@yellow);
}

.green {
    .color(@green);
}

.blue {
    .color(@blue);
}

.cyan {
    .color(@cyan);
}

.purple {
    .color(@purple;)
}