html {
    box-sizing: border-box;
}

body {
    color: @foreground;
    background: @background;
    font-family: 'Roboto';
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.6;
}