/* resets */

*,
*:before,
*:after {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* global */

.wrapper {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    max-width: 95%;
    background-color: #fff;
}

.container {
    margin: 0 auto;
    max-width: 112.0rem;
    padding: 0 2.0rem;
    position: relative;
    width: 100%;
}

/* grid */

.row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;
    margin-bottom: 10px;
}

.row:last-child {
    margin-bottom: 0;
}

.column,
.spacer {
    overflow-wrap: break-word;
    padding: 10px;
    width: 100%;
    @media all and ( min-width: 600px) {
        &.quarter {
            flex: 0 0 25%;
        }
        &.one-third {
            flex: 0 0 33.33%;;
        }
        &.half {
            width: 50%;
        }
        &.two-thirds {
            width: 66.66%;
        }
        &.three-quarters {
            width: 75%;
        }
    }
}

.spacer {
    color: @background;
    background: @background;
}