.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.vertical-align {
    display: flex !important;
    align-items: center;

    .center-align {
        align-content: center;
    }
}

.hide-mobile {
    @media all and ( max-width: 600px) {
        display: none;
    }
}