.color(@color) {
    background: @color;
    color: @white;
}

.bold() {
    font-weight: 400;
}

.header() {
    font-weight: 300;
    letter-spacing: -.1rem;
    margin-bottom: 2.0rem;
    margin-top: 0;
}

.slide(@color, @start, @text-color) {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, @clear 50%, @color 50%);
    background-position: 0 @start;
    transition: all @transition-time;
    &:hover {
        background-position: 0 100%;
        color: @text-color;
    }
}

.hide-width(@width) {
    @media all and ( max-width: @width) {
        display: none;
    }
}

