/* COLORS */
@foreground: @black;
@background: @white;
@primary-color: @red;
@accent-color: @cyan;
@disabled-color: @grey;

/* MIXINS */
@transition-time: .3333s;

/* HELPERS */
// Nothing to see here, move along

/* GRID */
@wrapper-padding: 0 2.0rem;
@wrapper-width: 95%;
@container-width: 112.0rem;
@container-padding: 0 2.0rem;
@row-margin: 0 -1.0rem;
@column-padding: 1.0rem;

/* ELEMENTS */
@font-family: 'Roboto';
@font-size: 1.6rem;
@font-weight: 300;
@font-tracking: .01em;
@line-height: 1.6;