/* COLORS */
@foreground: @black;
@background: @white;
@primary-color: @red;
@accent-color: @blue;
@disabled-color: @grey;

/* MIXINS */
@transition-time: .3333s;

/* HELPERS */
// Nothing to see here, move along

/* GRID */
@wrapper-padding: 0 2.0rem;
@wrapper-width: 100%;
@container-width: 80rem;
@container-padding: 0;
@row-margin: 0;
@column-padding: 1.0rem;

/* ELEMENTS */
@font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@font-size: 1.4rem;
@font-weight: 300;
@font-tracking: .01em;
@line-height: 1.6;
@border-radius: 0; //.4rem